body {
	margin: 0;
	padding: 0;
}

.xltheme-news-link {
	background-color: rgb(245,245,245);
	display: flex;
	flex-flow: column wrap;
	height: inherit;
}

.news-main-block-wrap {
	background-color: rgb(245,245,245);
	padding:6px 6px 0 6px;
}

.news-main-block-wrap img {
	padding-bottom: 0;
}

.news-main-block {
	background-color: white;
	padding: 6px;
}

.news-link-content {
	background-color: white;
	display: flex;
	flex-flow: column wrap;
	margin: 3px 0;
	padding: 6px;
}

.date {
	font: italic smaller 'Rubic', sans-serif;
}
