body {
	margin: 0;
	padding: 0;
}

.news-topic-wrap {
  background-color: rgb(245,245,245);
  padding: 6px;
}

.news-topic-main {
	background-color: rgb(255,255,255);
	display: flex;
	flex-flow: column wrap;
	margin-bottom: 6px;
}

.news-topic-block {
	background-color: rgb(255,255,255);
	margin-bottom: 6px;
	padding: 3px;
}

.news-topic-wrap div:last-child {
  margin-bottom: 0;
}

.news-time {
  font: italic smaller 'Rubic', sans-serif;
}
