body {
	padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

img {
	width: 100%;
	object-fit: cover;
}

li {
	list-style-type: none;
}

header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: rgb(245, 245, 245);
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

header li {
	display: inline-block;
	margin-left: 15px;
}

header ul {
	padding: 0;
}

header a {
	text-decoration: none;
	color: black;
}

.header-wrap {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown button {
	outline: none;
	border: none;
	background-color: rgb(245, 245, 245);
	height: 100%;
	width: 15vw;
}

.dropcontent {
	display: none;
	position: absolute;
	min-width: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	background-color: rgb(245,245,245);
}

.dropref {
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.dropcontent a {
	display: block;
	padding: 6px 8px;	
}

button:active, button:focus {
	outline: none;
}

#canvas {
	vertical-align: middle;
}

.blank {
	height: 100%;
	width: 15vw;
}

.content-wrap {
	display: flex;
}

.content {
	width: 100%;
}

.content h1 {
	text-align: center;
}

.content-wrap .content p:nth-child(2) {
	text-align: center;
}

figure {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
}

figcaption {
	font: italic smaller 'Rubic', sans-serif;
	background-color: rgb(245,245,245);
}

.maintheme {
	margin-top: 3vh;
	margin-bottom: 5vh;
	background-color: rgba(247,255,128,0.2);
	border: 2px solid rgba(170,179,54,0.2);
	outline: none;
	border-radius: 4px;
}

.maintheme a:hover a:active {
	color: black;
	text-decoration: none; 
}

.cardref {
	background-color: rgb(245,245,245);
}

.add-xlcard {
	background-color: rgba(139, 128, 255, 0.2);
	margin-bottom: 0;
	padding: 20px;
}

.xlcard {
	margin-top: 0;
	background-color: rgba(147, 128, 255, 0.2);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	height: 16vh;
	margin-bottom: 3vh;
	overflow: hidden;
	width: 30vw;
	text-align: center;
}

h4 {
	margin-left: 9px;
}

.news {
	background-color: rgb(245,245,245);
	display: flex;
	flex-direction: column;
}

.news-block {
	background-color: white;
	display: flex;
	margin: 2px 4px;
}

.news-time {
	display: flex;
	margin: 0 10px;
	font-size: small;
	align-items: center;
}

.content_blank {
	width: 10vw;
}

.show {
	display: block;
}

@media (max-width: 586px) {
	.header-wrap {
		display: none;
	}
	
	.card {
		width: 37.5vw;
	}
}

@media (min-width: 587px) and (max-width: 2000px) {
	.dropdown {
		display: none;
	}

	.logo {
		display: none;
	}

	.blank {
		display: none;
	}

	.xltheme {
		display: flex;
		margin-bottom: 5vh;
	}

	.content-wrap .content figure {
		width: 50%;
	}

	.content-wrap .content .maintheme {
		width: 50%;
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.card {
		height: 26vh;
		width: 18vw;
	}
}
