body {
	padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

img {
	width: 100%;
	object-fit: cover;
}

li {
	list-style-type: none;
}

.content_blank {
	width: 10vw;
}



header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: rgb(245, 245, 245);
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

header li {
	display: inline-block;
	margin-left: 15px;
}

header ul {
	padding: 0;
}

header a {
	text-decoration: none;
	color: black;
}

.header-wrap {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown button {
	outline: none;
	border: none;
	background-color: rgb(245, 245, 245);
	height: 100%;
	width: 15vw;
}

.dropcontent {
	display: none;
	position: absolute;
	min-width: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	background-color: rgb(245,245,245);
}

.dropref {
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.dropcontent a {
	display: block;
	padding: 6px 8px;	
}

button:active, button:focus {
	outline: none;
}

#canvas {
	vertical-align: middle;
}

.blank {
	height: 100%;
	width: 15vw;
}

.content-wrap {
	display: flex;
}

.content {
	width: 100%;
}

.content h1 {
	text-align: center;
}

.content-wrap .content p:nth-child(2) {
	text-align: center;
}

figure {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
}

figure img {
	height: 100%;
}

figcaption {
	font: italic smaller 'Rubic', sans-serif;
	background-color: rgb(245,245,245);
}

.xltheme-item-4 {
	position: relative;
	border-radius: 20px;
	display: flex;
	flex-flow: column;
	margin-bottom: 5vh;
	margin-top: 3vh;
	outline: none;	
}

.xltheme-item-4 a {
	background-color: rgba(247,255,128,0.2);
	border: 2px solid rgba(170,179,54,0.2);
	border-bottom: none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.xltheme-item-4 img {
	height: 100%;
}

.some {
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
  vertical-align: middle;
}

.some p {
  margin-bottom: 0;
}

.some-2 {
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0%;
}

.xltheme-item-4 a:hover a:active {
	color: black;
	text-decoration: none; 
}

.news-block {
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	margin: 2px 4px;
}

.news-time {
	display: flex;
	margin: 0 10px;
	font-size: small;
	align-items: center;
}

.news-block a {
	margin: 4px 10px;
}

.add-xlcard {
	background-color: rgba(247,255,128,0.2);
	margin-bottom: 0;
	padding: 20px;
}

.xlcard {
	margin-top: 0;
	background-color: rgba(147, 128, 255, 0.2);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cardref {
	background-color: rgb(245,245,245);
}

.card {
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	height: 16vh;
	margin-bottom: 3vh;
	overflow: hidden;
	width: 30vw;
	text-align: center;
}

.show {
	display: block;
}

@media (max-width: 586px) {
	
	.header-wrap {
		display: none;
	}
	
	.card {
		width: 37.5vw;
	}
}

@media (min-width: 587px) and (max-width: 1250px) {

	.xltheme-item-2 {
		width: 40%;
	}

	.xltheme-item-3 {
		width: 50%;
	}
}

@media (min-width: 1250px) and (max-width: 2000px) {
	
	.xltheme-item-2, .xltheme-item-3 {
		width: 20%;
	}

	.content_blank {
		width: 15vw;
	}
	
}

@media (min-width: 587px) and (max-width: 2000px) {
	
	.logo, .blank, .dropdown {
		display: none;
	}

	.xltheme {
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		justify-content: space-between;
	}

	.xltheme-item-1 {
		width: 50%;
	}

	.xltheme-item-4 {
		width: 50%;
	}
	
	.card {
		height: 26vh;
		width: 18vw;
	}
}
