body {
	padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    
}

header {
	display: flex;
	width: 100%;
	background: aquamarine;
}

header li {
	display: inline-block;
	margin-left: 15px;
}

header a {
	text-decoration: none;
}

.header-wrap {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropcontent {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: auto;
	z-index: 1;
}

.dropcontent a {
	color: black;
	display: block;
}

.dropdown:hover .dropcontent {
	display: block;	
}

.dropdown:hover .dropbtn button {
	background-color: #b9cfd4;
}
@media (max-width: 499px) {
	.header-wrap {
		display: none;
	}

	header {
		height: 51px;
	}
}

@media (min-width: 500px) and (max-width: 2000px) {
	.dropdown {
		display: none;
	}
}
